@model DoriVLN.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Something went wrong. Check your details.");
    <div>
        <fieldset>
            <legend> Enter your email and the password will be sent there </legend>
            <div class="editor-label">
                @Html.LabelFor(u => u.email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.email)
                @Html.ValidationMessageFor(u => u.email)
            </div>
        <input type="button" value="Send" />
        <input type="button" value="back" />
    </div>
}

