@model IEnumerable<DoriVLN.Models.Entity.Folder>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Dóri V2</h1>
    <p class="lead">
        Dóri er geggjað forrit sem gerir þér kleift að vinna með alls konar skjöl með öðrum.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Folders</h2>
        <p>
            @Html.ActionLink("Create Folder", "NewFolder", "Folder")
            Hér viljum við geyma möppu strúktúrinn.

            <table>
                <tr>
                    <th>
                        Folder name
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.name, "Overview", "Folder")
                        </td>
                    </tr>
                }
            </table>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Files</h2>
        <p>
            Hér viljum við birta lista af skrám sem eru inni í valdri möppu.
            @RenderPage("~/Views/Folder/DisplayFolders.cshtml")
        </p>
    </div>
</div>

