@model IEnumerable<DoriVLN.Models.Entity.Folder>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Dóri V2</h1>
    <form>
        <input type="text" placeholder="Dummy leitarvél..."/>
        <input type="submit" value="Search"/>
    </form>
    <!--
       <p class="lead">
        Hér kæmi leitarvél (ef tími vinnst til).
        </p> 
    -->
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Folders</h2>
        <p>
            <div class="table-responsive">
                <table class="table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Folder name
                        </th>
                    </tr>
                </thead>    
                    <tbody>
                        <tr>
                            <td>
                                @Html.ActionLink("Create Folder", "NewFolder", "Folder")
                            </td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.name, "Overview", "Folder")
                                </td>
                            </tr>
                        }
                   </tbody>
                    </table>
                </div>
    <input type="submit" value="Delete Selected"/>
</p>
    </div>
    <div class="col-md-8">
        <h2>Files</h2>
            <div class="table-responsive">
                <table class="table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                File Name
                            </th>
                            <th>
                                File Type
                            </th>
                            <th>
                                Date Modified
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @RenderPage("~/Views/Folder/DisplayFolders.cshtml")
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                content_file_1
                            </td>
                            <td>
                                HTML
                            </td>
                            <td>
                                10.05.2017
                            </td>
                        </tr>
                        <tr>
                            <td>
                                content_file_2
                            </td>
                            <td>
                                HTML
                            </td>
                            <td>
                                09.05.2017
                            </td>
                        </tr>
                        <tr>
                            <td>
                                content_file_3
                            </td>
                            <td>
                                CSS
                            </td>
                            <td>
                                11.05.2017
                            </td>
                        </tr>
                        <tr>
                            <td>
                                content_file_4
                            </td>
                            <td>
                                SuperJavascript
                            </td>
                            <td>
                                10.05.2032
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        <input type="submit" style="float: right" value="Delete Selected" />

                   

        
        
        <!--
        <p>
            Hér er text editor prototype
            <a href="/File/TextEditor">Text Editor</a>
        </p>
        -->
       
    </div>
</div>

