@model IEnumerable<DoriVLN.Models.ViewModels.FileViewModel>

@{
    ViewBag.Title = "Files Shared With Me";
}

<h2>Files Shared With Me</h2>

<div class="table-responsive">
    <table class="table" style="width: 100%">
        <tr>
            <th>File Name</th>
            <th>File Type</th>
            <th>Last Modified</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.fileType == "javascript")
            {
                item.fileType = "Javascript";
            }
            else if (item.fileType == "c_cpp")
            {
                item.fileType = "C++";
            }
            else if (item.fileType == "csharp")
            {
                item.fileType = "C#";
            }
            else if (item.fileType == "java")
            {
                item.fileType = "Java";
            }
            else if (item.fileType == "python")
            {
                item.fileType = "Python";
            }
            else if (item.fileType == "ruby")
            {
                item.fileType = "Ruby";
            }
            else if (item.fileType == "php")
            {
                item.fileType = "PHP";
            }
            <tr>
                <td>@item.name</td>
                <td>@item.fileType</td>
                <td>@item.dateTime)</td>

                <td>
                    <span style="font-size: 12pt" class="btn btn-default"> @Html.ActionLink("Edit", "TextEditor", "File", new { @Content = item.content, @fileName = item.name, @fileType = item.fileType, @fileID = item.ID }, null)</span>
                </td>
            </tr>
        }

    </table>
</div>
