@model DoriVLN.Models.ViewModels.EditorViewModel 

@{
    ViewBag.Title = "TextEditor";
}
<div class="row">
    <div class="col-md-1">
       
@{ TempData["fileName"] = Model.fileName; }

    </div>
    <div class="col-md-11">
    <h2>@Model.fileName</h2>

    <div id="editor">
        @ViewBag.Code
    </div>

    @using (Html.BeginForm("SaveCode", "File", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Content, new { @id = "hidden_editor" })
        <input type="submit" value="Save Code"/>
    }
    </div>
</div>


@section scripts
{
    <script src="~/3rdParty/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        var documentID = @ViewBag.DocumentID;

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/dawn");
       
        editor.getSession().setMode("ace/mode/@Model.fileType");
       
        $("form").submit(function () { // Tekur allt inni í text editor og geymir.
            $("#hidden_editor").val(editor.getSession().getValue());
        });

       

        var codeHub = $.connection.codeHub;
        var silent = false;

        codeHub.client.OnChange = function (changeData) {
            console.log(changeData);
            
            silent = true;
            editor.getSession().getDocument().applyDelta(changeData);
            silent = false;
        };

        $.connection.hub.start().done(function () {

            codeHub.server.joinDocument(documentID);

            editor.on("change", function (obj) {
                if (silent) {
                    return;
                }
                console.log(obj);
                codeHub.server.onChange(obj, documentID);
            });
        });
    </script>   
    
     
}