@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Oops, you're on the wrong page</h1>
</div>

@Html.ActionLink("Click here to go to the main page", "Overview", "Folder")

<div>
    <p>
        Or click on Dóri in the top-left corner
    </p>
</div>